img[src*="000webhost"] {
  display: none !important;
}

* {
  box-sizing: border-box;
}

a,
table a,
.spanWithA {
  color: #7173e0 !important;
  transition: color 0.3s ease-in-out;
}
a:hover,
table a :hover,
.spanWithA:hover {
  color: #a53f2b !important;
}

#loadMoreCards {
  display: inline-block;
  background-color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  z-index: 8000;
  opacity: 0;
  visibility: hidden;
}

/* back 2 top */
#back2top {
  display: inline-block;
  background-color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 8000;
}

#loadMoreCards::after {
  content: "\f067";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 50px;
  color: #fff;
}

#back2top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 50px;
  color: #fff;
}

#back2top:hover,
#loadMoreCards:hover {
  cursor: pointer;
  background-color: #7173e0;
}
#back2top:active,
#loadMoreCards:active {
  background-color: #555;
}
#back2top.show,
#loadMoreCards.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

.content {
  width: 77%;
  margin: 50px auto;
  font-family: "Merriweather", serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
}

/* ABOUT */

.about {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.about h1 {
  font-size: 20px;
}

.screenshot {
  width: 350px;
}

#downloadElements{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.downloadElements_inner{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* END ABOUT */

body {
  background-image: url("/media/img/background.jpg");
  background-repeat: repeat;
}

#bodyAdv {
  background-image: url("/media/img/background.jpg");
  background-repeat: repeat;
}

@font-face {
  font-family: belwe;
  src: url(/ttf/belwe\ light\ bt.ttf);

  font-family: belweCondensed;
  src: url(/ttf/belwe\ condensed\ bt.ttf);

  font-family: CardEffect;
  src: url(/ttf/CardEffect.ttf);

  font-family: CardTitle;
  src: url(/ttf/CardTitle.ttf);

  font-family: MatrixTitle;
  src: url(/ttf/MatrixTitle.ttf);
}

.cardImages {
  width: 300px;
}



img.center {
  display: block;
  margin: 0 auto;
}

.modalCardImage .cardImages,
.modal .modal-header,
.modal .modal-header img {
  height: 100%;
  width: 100%;
  display: block;
}

.modalCardImage,
.modal-content,
.cardModal {
  background-color: rgba(0, 0, 0, 0.9);
}

.modalCardImage .modal-header,
.modalCardImage .modal-footer,
.modal-footer button,
.modalCardImage .modal-content {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
}
/* 
.modalCardImage .modal-footer{ 
    border-top: 1px solid rgba(125,125,125, 0);
   
} */

.modalImage .modal-header,
.modalImage .modal-footer,
.modalImage .modal-body {
  border: 5px;
  padding: 5px;
}

.modal-body,
.modal-header button span {
  color: rgb(230, 230, 230);
}

.modal-body th,
.modal-body td,
.modal-body tr {
  border: 1px solid rgb(230, 230, 230);
}

.modal-footer {
  border: none;
}

button {
  color: black;
  background-color: black;
}
.advancedSearchBar {
  color: yellowgreen;
}

/* .navbar{
    justify-content: flex-start;
} */

#searchBar-div {
  padding: 0% 1% 1% 1%;
  background-color: rgba(0, 0, 0, 0.9);
}

table a {
  font-weight: 600;
  color: #007bff;
}
table th {
  padding: 2px;
  text-align: center;
}
table th:first-child {
  text-align: left;
  padding-left: 5px;
}
table td {
  padding: 5px;
}

a:hover {
  color: rgb(248, 41, 82);
  text-decoration: none;
}

th,
td {
  border: 1px black solid;
  padding: 2px;
}

.addButton {
  border: none;
  padding-left: 5px;
}

h2 {
  font-family: belweCondensed;
  font-weight: 500;
  padding: 1%;
}
h2 a {
  color: rgb(37, 245, 71);
}

header nav {
  font-size: 12pt;
  font-family: "Source Sans Pro", sans-serif;
}

header form {
  width: 50%;
}

nav a {
  font-family: Arial, Helvetica, sans-serif;
}

#notesDiv {
  padding: 7px;
}

#decksDiv {
  padding: 7px;
}

#logo {
  width: 105px;
}
.levelIcon {
  width: 20px;
}

#advancedSearchBar {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

#setsFilterBar {
  font-size: 18pt;
  margin-left: 2%;
}

table {
  width: 100%;
}

.setCode,
.setRarity,
.setPrice {
  text-align: center;
}

.cardGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
  padding: 7px;
}

.cardInfo {
  font-family: MatrixTitle;
  font-weight: 520;
  font-size: 12pt;
}

.cardInfo h5 {
  font-family: MatrixTitle;
  font-weight: 520;
  font-size: 18pt;
}

.cardDescription {
  font-family: CardEffect;
  font-weight: 520;
  font-size: 14pt;
}
/* 
.cardInfo tr{
    font-family: CardEffect;
    font-weight: 520;
    font-size: 15pt;
} */
/* 
.cardInfo div{
font-family: CardEffect;
} */

.cardGrid h5 {
  font-variant: small-caps;
  font-family: Matrix;
}

.setImages {
  max-width: 250px;
}

.setGrid {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sets {
  padding: 5px;
}

.setImage-subContent1 img {
  max-width: 350px;
  /* height: 350px; */
}

.modalImage img {
  max-width: 600px;
}

.setImage img {
  max-width: 200px;
  /* height: 200px; */
}
.setDivHeader-subContent1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.archetype {
  padding: 5px;
  width: 100%;
}

.archetypeGrid {
  padding: 10px;
}

nav,
nav div,
input,
header,
header div,
header a,
header button,
header input,
header input :hover {
  background-color: black !important;
  color: rgb(250, 250, 250) !important;
}

.input-group-text {
  padding: 0;
  background-color: black;
}

#send {
  color: white !important;
  border-width: 0;
}

.dropdown-menu {
  border-radius: 7;
}

header form span {
  padding: 0 !important;
  background-color: black !important;
}

header form button {
  border: none !important;
}

.cardInfo {
  padding: 0px 20px;
  width: 100%;
}

#wait {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#sub-content-3 {
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

#sub-content-3-miniCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* padding: 0.5% 0.5% 1% 1% ; */
  padding: 0px !important;
  margin: 0px !important;
  background-color: rgba(255, 255, 255, 0.2);
}

.showRisingAndFallingInfo {
  width: 100%;
}

.miniCard {
  width: 310px;
}

.miniCard img {
  width: 300px;
}



.modal-backdrop.show {
  opacity: 0;
}

.btn-primary:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
.btn-primary {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

.showCardInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.cards,
.sets,
.archetype {
  background-color: rgba(255, 255, 255, 0.3);
}

.cardGrid,
.setGrid,
.archetypeGrid {
  background-color: rgba(255, 255, 255, 0.7);
}

.logo {
  width: 30%;
}

#sub-content-1 {
  color: #000;
  font-family: CardTitle;
  font-size: 18pt;
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 5px;
  padding-right: 5px;
  /* padding: 10px; */
}

#advancedSearchBar img {
  width: 25px;
}

/* AUTOCOMPLET TEXTO */

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  /* background-color: #f1f1f1; */
  padding: 10px;
  font-size: 16px;
}

input[type="text"] {
  /* background-color: #f1f1f1; */
  width: 100%;
}

input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #434242;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* FIN AUTOCOMPLETE TEXTO */

.modal-footer .shareButton button {
  background-color: rgba(255, 255, 255, 0) !important;
  color: rgba(255, 255, 255, 1) !important;
}

.shareButton button {
  background-color: rgba(255, 255, 255, 0) !important;
  color: rgba(0, 0, 0, 1) !important;
}

/* 
  body {
    background: #1488CC;  /* fallback for old browsers 
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to right, #2B32B2, #1488CC); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
   } */
#sub-content-filterBar {
  font-family: MatrixTitle;
  font-weight: 520;
  font-size: 20pt;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.3);
}

#aToM {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#nToZ {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#sub-content-filterBar span {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
  /* padding: 10px; */
}

#descForm input {
  color: rgb(250, 250, 250);
}

/* DECK PRICER  */
#file-input{
  color: #000 !important;
  background-color: rgba(255, 255, 255, 0)!important;
}

#sub-content-deckPricer{
  background-color: rgba(255, 255, 255, 0.7) !important;
  margin: 0!important;
  padding: 0!important;
  margin-bottom: 10px;
}

#contenido-archivo {
  
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.cardImagesSmall{
  width: 125px!important;
  margin: 0 !important;
  padding: 0!important;
}



.miniCardDeck, .miniCardDeck button{
  width: auto;
  margin: 0 !important;
  padding: 0 !important;

}

#deck{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#deck_main, #deck_extra, #deck_side{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}


/* DECK PRICER END  */

#footer {
  height: 110px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

@media (max-width: 1366px) {
  .cardImages {
    width: 250px;
  }

  .navbar-dark .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 10px;
  }

  h2 {
    padding: 1%;
    font-size: 18pt;
  }

  header form {
    width: 50%;
  }
}

@media (max-width: 740px) {
  table {
    width: 100%;
  }
  .cardImages {
    width: 250px;
  }

  h2 {
    padding: 1%;
    font-size: 18pt;
  }

  #sub-content-filterBar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  /* header form {
        width:100%;
    } 
/* 
    .navbar{
        width: 90%;
    }

    .navbar-toggler{
        width: 50%;
    } */

  #sub-content-2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .cardInfo {
    font-family: MatrixTitle;
    text-align: center;
    font-size: 12pt;
    font-weight: 520;
  }

  .cardInfo h5 {
    font-weight: 520;
    font-size: 18pt;
  }

  .cardInfo tr {
    font-size: 12pt;
    font-weight: 520;
  }

  .cardDescription {
    font-family: CardEffect;
    font-weight: 540;
    font-size: 13pt;
  }
  .cardInfo div {
    font-family: CardEffect;
  }
  .cardGrid h5 {
    font-family: CardTitle;
    text-align: center;
  }

  .cardGrid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .showCardInfo {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    flex-direction: column !important;
  }

  .cardButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}

@media (max-width: 400px) {
  .modalCardImage .cardImages {
    height: 100%;
    width: 100%;
  }

  .cardImages {
    width: 150px;
  }

  .cardInfo tr {
    font-size: 10pt;
    font-weight: 520;
  }

  .cardInfo img {
    width: 10px;
  }

  .cardInfo {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }

  .cardInfo h5 {
    font-size: 13pt;
    font-weight: 520;
    font-family: CardTitle;
    text-align: center;
  }

  #setTitles {
    font-size: 10pt;
    margin: 0;
    padding: 1%;
  }

  .cardInfo img {
    width: 18px !important;
  }

  .cardInfo td {
    margin: 0;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-size: 9pt;
  }
  p {
    margin: 0;
    padding: 0;
  }

  .cardDescription {
    font-family: CardEffect;
    font-weight: 540;
    font-size: 12pt;
    margin: 0;
    padding: 0;
  }

  #advancedSearchBar {
    font-size: 9pt;
  }

  #advancedSearchBar input {
    font-size: 9pt;
  }
  #advancedSearchBar button {
    font-size: 9pt;
  }
  #advancedSearchBar img {
    width: 20px;
  }
  #advancedSearchBar label {
    font-size: 9pt;
  }
}
